body{
    background: #000;
}

.main{
    text-align: center;
    width: 1400px;
    margin: 0 auto;
    /* border:1px solid red; */
}

.header{
    /* text-align: center; */
    color: ivory;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    color: aquamarine;
    font-size: 16px;
    display: block;
    font-family: Verdana;
}

video{
    margin: 40px 0;
}

.heading{
    font-size: 42px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    color: white;
    padding: 15px 0;
}

.heading p,footer{
    color: grey;
    font-size: 21px;
}

.landscape{
    height: auto;
    width: auto;
    text-align: center;
    /* border:1px solid grey; */
    
}

.landscape img{
    display: inline-block;
}

.phone{
    margin: 20px 0;
}

footer{
    margin: 20px 0;
    padding: 0 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
}
