*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family: sans-serif;
}

#main{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}

/* header */

header{
    height: 64px;
    width: 100%;
    max-width: 1500px;
    z-index: 2;
    position: fixed;
    background: white;
}

#desk-header{
    height: inherit;
    width: 100%;
    display: flex;
    font-size: 22px;
    align-items: center;
    font-family: sans-serif;
    padding: 0 24px;
}

#mob-header{
    display: none;
}

#logo-section{
    height: 32px;
    display: inline-flex;
    align-items: center;
    flex-grow: 1;
}

#logo-section span{
    font-weight: 300;
    color: grey;
}

#logo-section p{
    margin: 0 4px;
}

nav{
    font-size: 18px;
}

nav ul {
   display: flex;
   list-style: none;
   font-weight: 300;
   color: grey;
   justify-content: space-evenly;
}

nav ul li{
    padding-left: 0.88em;
}

/* section */

.section{
    height: auto;
    width: 100%;
    display: flex;
}

/* section 1 */

.section-1{
    position: relative;
    top: 64px;
    background: gainsboro;
}

.banner-section{
    width: 60%;
    height: auto;
    padding: 32px 24px;
}

.banner-section img{
    display: block;
    max-width: 100%;
    height: auto;
}

.banner-section-right{
    width: 40%;
    display: flex;
    align-items: center;
}

.banner-section-right-inner-container{
    height: auto;
    width: 60%;
    min-width: 355px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(64,64,64);
    margin: 32px 0;
    font-size: 40px;
}

.banner-section-right h1{
    letter-spacing: 0.02em;
    font-size: 40px;
}

.banner-section-right p{
    margin-top: 32px;
    margin-bottom: 24px;
    font-size: 28px;
}

#start-here-btn{
    width: 96%;
    height: auto;
    color: white;
    font-size: 55%;
    text-align: center;
    background: rgb(64,64,64);
    padding: 3%;
}

/* section-2 */
.section-2{
    background: white;
    height: auto;
    width: 100%;
    position: relative;
    top: 64px;
    display: flex;
}

.section-2 .section-2-desktop-left{
    width:60%;
    padding: 32px 24px;
}

 /* .section-2-desktop-left{
    width:60%;
    padding: 32px 24px;
} */

.section-2-img-container{
    height: auto;
    max-width: 100%;
    margin-bottom: 32px;
}

.section-2-desktop-left img{
    display: block;
    max-width: 100%;
    height: auto;
}

.section-2-desktop-left-text-section{
    color: rgb(64,64,64);
}

.section-2-desktop-left-text-section h1{
    font-size: 40px;
    letter-spacing: 0.02em;
    margin-bottom: 24px;
}

.section-2-desktop-left-text-section p{
    font-size: 18px;
    letter-spacing: 0.02em;
    word-spacing: 0.2em;
    word-wrap: none;
}

.section-2-desktop-left-text-section #p-author{
    margin-top: 32px;
}

.section-2-desktop-right{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-top: 16px;
}

.section-2-desktop-right .card{
    display: flex;
    padding: 16px 16px
}

.section-2-desktop-right .card:hover{
    background: gainsboro;
    color: white;
}

.card .img-card-container-desk{
    max-width: 35%;
    height: auto;
}


.card .img-card-container-desk .desk-img {
    max-width: 100%;
    display: block;
    height: auto;

}

.img-card-container-desk .mob-img{

    display: none;
}

.card .info-card-container{
    width:100%;
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
}

.card .info-card-container h3{
    color: rgb(64,64,64);
    font-weight: 500;
}

.card .info-card-container p{
    margin: 8px 0;
    font-weight: 300;
}

.card .info-card-container a{
    text-decoration: none;
    color: skyblue;
    width: fit-content;
}


/* section 3 */

.section-3{
    position: relative;
    top:64px;
    padding: 32px 72px;
    text-align: center;
    background: whitesmoke;
}

.section-3 h1{
    color:rgb(64,64,64);
    font-size:40px;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
}

#learning-grid{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    grid-gap: 32px 32px;
}

.grid-card{
    background: white;
}

.grid-card .grid-card-img-container{
    height: auto;
    max-width: 100%;
}

.grid-card-img-container img{
    height: auto;
    max-width: 100%;
    display: block;
}

.grid-card .grid-card-text-section{
    padding: 16px 16px 24px 16px;
    text-align: start;
    font-weight: 300;
    letter-spacing: 0.04em;
    line-height: 1.4em;
}

.grid-card .grid-card-text-section h3{
    color: rgb(64,64,64);
    /* font-weight: 500; */
}

.grid-card .courses-title{
    margin: 8px 0;
    text-transform: uppercase;
}

#learning-grid .grid-mob-card{
    display: none;
}


/* section 4 */
.section-4{
    position: relative;
    top:64px;
    padding: 32px 8px 24px 24px;
    background: white;
    /* border: 1px solid tomato; */
}

.section-4 #section-4-title{
    color:rgb(64,64,64);
    font-size:40px;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
    /* border: 1px solid grey; */
    text-align: center;
}

.section-4-main-flex-container{
    height: auto;
    width: 100%;
    display: flex;
    /* border: 1px solid orange;; */
}

.section-4 #section-4-desktop-left{
    width:60%;
    padding: 0 24px 24px 0;
}

#section-4-desktop-right{
    padding-top: 0;
}

video{
    width: 100%;
}

/* footer */
footer{
    border-top: 2px solid whitesmoke;
    padding: 24px 16px;
    position: relative;
    top:64px;
    width: 100%;
    height: 60px;
    font-weight: 300;
}

footer p{
    display: inline-block;
}

footer a{
    text-decoration: none;
    display: inline-block;
    margin-left:8px ;
}

#copy-rights{
    float: left;
    
}

#links{
    float: right;
}




