*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

header{
    height: 64px;
    width: 100%;
    border-bottom: 1px solid grey;
    padding: 0 24px;
    display: flex;
    font-size: 24px;
    z-index: 2;
    position: fixed;
    align-items: center;
    font-family: sans-serif;
}

#logo-section{
    height: 32px;
    display: inline-flex;
    /* border:1px solid red; */
    align-items: center;
}

#logo-section span{
    font-weight: 300;
    color: grey;
}

#logo-section p{
    margin: 0 4px;
}
