@media only screen and (max-device-width : 800px), (max-width:680px){
    #desk-header{
        display: none;
    }

    #mob-header{
        height: inherit;
        width: inherit;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    #mob-header img{
        flex-grow: 1;
    }

    .section{
        flex-direction: column;
    }

    .banner-section{
        width: 100%;
       padding:0;
    }

    .banner-section-right{
        width: 100%;
        padding-bottom: 32px;
        padding-top: 32px;
    }

    .banner-section-right-inner-container{
        width: 100%;
        margin: 0 auto ;
        padding: 0 16px;
    }
    .banner-section-right h1{
        font-size: 10vw;
    }

    .banner-section-right p{
        margin-top: 32px;
        margin-bottom: 24px;
        font-size: 6.6vw;
    }

    #start-here-btn{
        width: 100%;
        background: rgb(128,128,128);
        font-size: 5.0vw;
    }

    /* section 2 */
    .section-2 .section-2-desktop-left{
        display: none;
    }

    .section-2-desktop-right{
        width: 100%;
    }

    .card .info-card-container h3{
        font-size: 4.5vw;
    }

    .card .info-card-container p{
        font-size: 3.6vw;
    }

    .card .info-card-container a{
        font-size: 3.5vw;
    }
}