@media only screen and (max-device-width : 800px), (max-width:680px){
    
    #desk-header{
        display: none;
    }

    #mob-header{
        height: inherit;
        width: inherit;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    #mob-header img{
        flex-grow: 1;
    }

    .section{
        flex-direction: column;
    }

    .banner-section{
        width: 100%;
       padding:0;
    }

    .banner-section-right{
        width: 100%;
        padding-bottom: 32px;
        padding-top: 32px;
    }

    .banner-section-right-inner-container{
        width: 100%;
        margin: 0 auto ;
        padding: 0 16px;
    }
    .banner-section-right h1{
        font-size: 8vw;
    }

    .banner-section-right p{
        margin-top: 32px;
        margin-bottom: 24px;
        font-size: 6vw;
    }

    #start-here-btn{
        width: 100%;
        background: rgb(128,128,128);
        font-size: 4.2vw;
    }

    /* section 2 */
    .section-2 .section-2-desktop-left{
        display: none;
    }

    .section-2-desktop-right{
        width: 100%;

        padding-top: 0;
    }


    .section-2-desktop-right .card{
   
        display: flex;
        flex-direction: column;
        padding: 16px 16px;
    }


    .card .img-card-container-desk{
        max-width: 100%;
        height: auto;
    }


    .card .img-card-container-desk .desk-img{
        display: none;
    }

    .img-card-container-desk .mob-img{
        display: block;
        max-width: 100%;
        height: auto;
    }

    .card .info-card-container h3{
        font-size: 4.5vw;
    }

    .card .info-card-container p{
        font-size: 3.6vw;
    }

    .card .info-card-container a{
        font-size: 3.5vw;
    }

    /* section 3 */

    .section-3{
        padding: 32px 16px;
    }
    .section-3 h1{
        margin-bottom: 16px;
        font-size: 8vw;
    }

    #learning-grid{
        grid-template-columns: 1fr;
        grid-gap: 8px;
    }

    .grid-card .grid-card-text-section h3{
        font-size: 4.5vw;
        font-weight: 500;
    }

    .grid-card .grid-card-text-section p{
        font-weight:4.2vw;
    }

    #learning-grid .desk-grid-card{
        display: none;
    }

    #learning-grid .grid-mob-card{
        display: block;
        padding: 24px 16px;
        background: gainsboro;
        color:rgb(64,64,64);
        text-align: start;
    }

    .grid-mob-card h3{
        font-size: 4.5vw;
        font-weight: 500;
    }

    /* section 4 */

    .section-4{
        padding: 32px 0 24px 0;  
    }
    .section-4 #section-4-title{
        margin-bottom: 16px;
        font-size: 8vw;
    }

    .section-4 #section-4-desktop-left{
        width:100%;
        padding: 0 0 24px 0;
    }

    #section-4-img-container{
        width: 100%;
    }

    .section-4-left-text-section{
        display: none;
    }

    #section-4-desktop-right{
        display: none;
    }
}